{clean_files, ["*.eunit", "ebin/*.beam"]}.

{deps, [ 
	{hanoidb, "1.3.*", {git, "git://github.com/ricecake/hanoidb.git", {branch, "master"}}},
	{delta_encoding, "0.1", {git, "https://github.com/ricecake/erlang-delta_encoding.git", {branch, "master"}}},
	{vlq, "1.1", {git, "https://github.com/ricecake/erlang-vlq.git", {branch, "master"}}},
	{'hash_ring', ".*", {git, "https://github.com/ricecake/hash-ring.git"}},
	{'snappy', ".*", {git, "https://github.com/fdmanana/snappy-erlang-nif.git"}},
	{'ebloom', ".*", {git, "https://github.com/basho/ebloom.git"}},
	{'erlang_js', ".*", {git, "https://github.com/basho/erlang_js.git"}},
	{'merge_index', ".*", {git, "https://github.com/basho/merge_index.git"}}
]}.
